Libraries

In [2]:
# Libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

import warnings
warnings.filterwarnings("ignore")

Data Ingestion

In [5]:
# Data
path = r"../data/raw/germanCredit.csv"
df_gc = pd.read_csv(path)
df = df_gc.copy()
df_gc.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 15 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Unnamed: 0         1000 non-null   int64
 1   checkin_acc        1000 non-null   object
 2   duration           1000 non-null   int64
 3   credit_history     1000 non-null   object
 4   amount             1000 non-null   int64
 5   savings_acc        1000 non-null   object
 6   present_emp_since  1000 non-null   object
 7   inst_rate          1000 non-null   int64
 8   personal_status    1000 non-null   object
 9   residing_since     1000 non-null   int64
 10  age                1000 non-null   int64
 11  inst_plans         1000 non-null   object
 12  num_credits        1000 non-null   int64
 13  job                1000 non-null   object
 14  status             1000 non-null   int64
dtypes: int64(8), object(7)
memory usage: 117.3+ KB

Feature Count

In [6]:
df_categories = {'FEATURE' : [],
                 'COUNT' : [],
                 'UNIQUE_VALUES' : [],
                 }

for feature in df.columns:
    df_categories['FEATURE'].append(feature)
    df_categories['UNIQUE_VALUES'].append(df[feature].unique())
    df_categories['COUNT'].append(len(df[feature].unique()))

pd.DataFrame(df_categories)

,FEATURE,COUNT,UNIQUE_VALUES
0,Unnamed: 0,1000,"[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13,..."
1,checkin_acc,4,"[A11, A12, A14, A13]"
2,duration,33,"[6, 48, 12, 42, 24, 36, 30, 15, 9, 10, 7, 60, ..."
3,credit_history,5,"[A34, A32, A33, A30, A31]"
4,amount,921,"[1169, 5951, 2096, 7882, 4870, 9055, 2835, 694..."
5,savings_acc,5,"[A65, A61, A63, A64, A62]"
6,present_emp_since,5,"[A75, A73, A74, A71, A72]"
7,inst_rate,4,"[4, 2, 3, 1]"
8,personal_status,4,"[A93, A92, A91, A94]"
9,residing_since,4,"[4, 2, 3, 1]"
10,age,53,"[67, 22, 49, 45, 53, 35, 61, 28, 25, 24, 60, 3..."
11,inst_plans,3,"[A143, A141, A142]"
12,num_credits,4,"[2, 1, 3, 4]"
13,job,4,"[A173, A172, A174, A171]"
14,status,2,"[0, 1]"

In [7]:
features_categorical = ['checkin_acc', 'credit_history',
       'savings_acc', 'present_emp_since', 'inst_rate', 'personal_status',
       'residing_since', 'inst_plans', 'num_credits', 'job',]

features_neumerical = ['duration', 'amount', 'age',]

target = ['status']

Encoder Binary

In [8]:
from sklearn.preprocessing import OneHotEncoder

X_cat = df[features_categorical]
enc = OneHotEncoder()
enc = enc.fit(X_cat)
X_cat_en = enc.transform(X_cat)

Encoder Function

In [9]:
def encode(data, X_cat, X_num, encoder):
    X_num = data[X_num]
    X_cat = data[X_cat]
    X_cat_en = pd.DataFrame(data = encoder.transform(X_cat).toarray(), 
                            columns= encoder.get_feature_names_out())
    X_en = pd.concat([X_num, X_cat_en], axis=1)
    return X_en

X_en = encode(data=df,
            X_cat=features_categorical,
            X_num=features_neumerical,
            encoder=enc)

In [10]:
import pickle
with open('../bin/oneHotEncoder.bin', 'wb') as f_out:
    pickle.dump(enc, f_out)